section {
    display: flex;
    justify-content: center;
}
::placeholder {
  color:#424444;
  font-size: 20px;
  font-weight: 500;
}
input:focus { 
  outline: none !important;
  border-color: #424444;
  box-shadow: 0 0 10px #424444;
}
.content {
    width: 70%;
    height: 600px;
    -webkit-box-shadow: -1px 4px 17px 1px rgba(0,0,0,0.72); 
    box-shadow: -1px 4px 17px 1px rgba(0,0,0,0.72);
    z-index: 997;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 5px;
}
.title_formulario {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24EDD2;
}
.title_formulario_h1 {
  font-size: 35px;
  color: #000;
  font-family: 'Lora', serif;
  font-weight: 500;
}
.title_formulario_h2 {
  font-size: 20px;
}
.painel_OP {
  width: 100%;
  height: 380px;
  display: flex;
}
.input_left {
  width: 50%;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cliente, 
.quantidade, 
.N_Ordem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_right {
  width: 50%;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  margin-left: 40px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.produto, 
.pedido,
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.painel_OP label {
  font-size: 20px;
}
.painel_OP input {
  width: 80%;
  height: 50px;
  border: 0.5px solid #47d0bd;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #424d4d;
}
.AreaButton {
  width: 100%;
  height: 120px;
  display: flex;
}

.button_left {
  width: 50%;
  height: 130px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.button-right {
  width: 50%;
  height: 130px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.button_left a{
  display: block;
  width: 50%;
  height: 30px;
  line-height: 30px;
  padding: 12px 5px;
  background-color: #369686;
  color: #FFF;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  box-shadow: 0 0 10px #719ECE;
}
.button-right a{
  display: block;
  width: 50%;
  height: 30px;
  line-height: 30px;
  padding: 12px 5px;
  background-color: #1b3330;
  color: #FFF;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  box-shadow: 0 0 10px #719ECE;
}


@media screen and (min-width: 320px) and (max-width: 840px){
  .content {
    width: 100%;
    height: 900px;
    margin-top: 0;
    z-index: 0;
  }
  .title_formulario { 
    height: 100px;
  }
  .title_formulario_h1 {
    font-size: 25px;
  }
  .input_left {
    width: 100%;
  }
  .title_AP {
    margin-left: 30px;
    font-size: 20px;
  }
  .input_right {
    width: 100%;
}
  .painel_OP {
    height: 700px;
    flex-direction: column;
  }
  .AreaButton {
    height: 100px;
  }
  .button_left a {
    width: 80%;
  }
  .button-right a {
    width: 80%;
  } 
}
@media screen and (min-width: 840px) and (max-width: 844px) {
  .content {
    width: 95%;
    height: 600px;
    margin-top: 0;
    z-index: 0;
  }
}
@media screen and (min-width: 844px) and (max-width: 1224px) {
  .content {
    width: 90%;
    height: 600px;
    margin-top: -100;
    z-index: 0;
  }
}

